name: Run Rest assured test cases

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin' # High-performance OpenJDK distribution
          cache: maven

      - name: Run Rest Assured Tests
        # This triggers the Maven test lifecycle based on your dependencies
        run: mvn clean test